# Worker nodes
{% for node in groups["worker_inventory"] %}
{{ hostvars[node].ansible_default_ipv4.address | default(node) }} workernode{{ loop.index }}
{% endfor %}

# Management node (localhost)
{{ hostvars['localhost'].ansible_default_ipv4.address | default('127.0.0.1') }} localhost
