# Worker nodes
{% for node in groups['worker_inventory'] %}
{{ hostvars[node].ansible_host }} workernode{{ loop.index }}
{% endfor %}

# Management node (uses ansible_host from inventory)
{{ hostvars['localhost'].ansible_host }} mgm_
