# Right now, you probably have:
# MINIO_OPTS="--address 127.0.0.1:9000 --console-address :9001"
# or it might be missing the IPv4 portion, defaulting to 127.0.0.1

# Make it listen on all interfaces (0.0.0.0) for IPv4
MINIO_OPTS="--address :9000 --console-address :9001"
